# Virtual Enviorment
.venv/
venv/
ENV/

# Enviornment Variables
.env

# Database
*.db
*.sqlite
*.sqlite3
logs/
generate_db_key.py

# Pychache
**/__pycache__/

# Alembic
alembic/versions/*.py
!alembic/versions/.gitkeep

# IDE specific files
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Python specific
*.pyc
*.pyo
*.pyd
*.pyc
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Jupyter Notebook
.ipynb_checkpoints